{% if site.google_analytics_tracking_id %}
  <script src="/javascripts/jquery.scrolldepth.min.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(["_setAccount", '{{ site.google_analytics_tracking_id }}']);
    _gaq.push(["_trackPageview"]);
    _gaq.push(["_gapTrackBounce", 10]);
    _gaq.push(["_gapTrackReads", 20, 30]);
    _gaq.push(["_gapTrackLinkClicks"]);

    (function() {
        var gap = document.createElement("script");
        gap.async = true;
        gap.type = "text/javascript";
        gap.src = "/javascripts/gap.min.js";

        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(gap, s);
    })();
  </script>
  <script>
  $(function() {
    $.scrollDepth();
  });
  </script>
{% endif %}
