{% if site.google_analytics_tracking_id %}
  <script type="text/javascript">
    var _gap = _gap || [];
    _gap.push(["_setAccount", '{{ site.google_analytics_tracking_id }}']);
    _gap.push(['_trackPageview']);
    _gap.push(['_gapTrackBounceViaTime', 10]);
    _gap.push(['_gapTrackBounceViaScroll', 50]);
    _gap.push(['_gapTrackReads', 20, 30]);
    _gap.push(['_gapTrackLinkClicks']);
    _gap.push(['_gapTrackMaxScroll', 25]);


    (function() {
        var gap = document.createElement("script");
        gap.async = true;
        gap.type = "text/javascript";
        gap.src = "/javascripts/gap.min.js";

        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(gap, s);
    })();
  </script>
{% endif %}
